<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">

    <title>{{ title }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='css_signup.css') }}" type="text/css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>

</head>

<body>
    <div class="navigationBar">
        <a href="{{url_for('index')}}">Home</a>
        <a href="{{url_for('CreateRecipe')}}">Create Recipe</a>
        <div class="dropdown">
            {% if current_user.username != null %}
            <button class="dropbtn">{{ current_user.username }} &#11206</button>
            <div class="dropdown-content">
                <a href="{{url_for('logout')}}">Logout</a>
            </div>
            {% else %}
            <button class="dropbtn">User &#11206</button>
            <div class="dropdown-content">
                <a href="{{url_for('login')}}">Login</a>
                <a href="{{url_for('SignUp')}}">Sign Up</a>
            </div>
            {% endif %}
        </div>
    </div>

    <div class="container">
        <div class="title">
            <h1>Sign Up</h1>
        </div>
        <div class="forms">
            <form method="POST" id="signupForm">
                {{ form.hidden_tag() }}
                <label><b class="text_a">Username:</b>
                    <br>
                    {{ form.username }}
                </label>
                <br>
                <br>

                <label><b class="text_a">Password:</b>
                    <br>
                    {{ form.password1 }}
                </label>
                <br>
                
                <label><b class="text_a">Repeate Password:</b>
                    <br>
                    {{ form.password2 }}
                </label>
                <br>
                <br>

                <p class="no_match" style="color: red;"><b>PASSWORD DOES NOT MATCH</b></p>
                {{ form.submit2 }}
            </form>
        </div>
    </div>
    
    <script>
        var isValid = true;
        $("p.no_match").hide();
        $("[name='password2']").keyup(function() {
            var password1 =$("[name='password1']").val();
            var password2 =$("[name='password2']").val();
            if (password1 != password2 || password1 == "") {
                // $("button.signup_b").css("background-color", "rgb(53, 68, 53)");
                $("p.no_match").show();
                $("#signupForm").submit(function(event) {
                    event.preventDefault();
                });
                isValid = false;
            } else {
                // $("button.signup_b").css("background-color", "green");
                $("p.no_match").hide();
                isValid = true;
            }
        });
        $("[name='password1']").keyup(function() {
            var password1 =$("[name='password2']").val();
            var password2 =$("[name='password1']").val();
            if (password1 != password2 || password1 == "") {
                // $("button.signup_b").css("background-color", "rgb(53, 68, 53)");
                $("p.no_match").show();
                $("#signupForm").submit(function(event) {
                    event.preventDefault();
                });
                isValid = false;
            } else {
                // $("button.signup_b").css("background-color", "green");
                $("p.no_match").hide();
                isValid = true;
            }
        });
        $("#signupForm").submit(function(event) {
            if (isValid == true) {
                this.submit();
            }
        })
    </script>
</body>

</html>